<!DOCTYPE html> <!-- template global da página -->
<html lang="en">
<head>
    {% include 'recipes/partials/head.html' %}
    <title>{% block title %}{% endblock title %}Recipes</title> <!-- título da página dinâmico, block recebe o valor da página onde o extend é executado -->
</head>


<body>
    {% include 'recipes/partials/header.html' %} <!-- utilizado para incluir o cabeçalho da página no template global -->
    {% include 'recipes/partials/search.html' %} <!-- utilizado para incluir o search da páina no template global -->

    <main class="main-content-container">
        {% block content %}{% endblock %} <!-- conteúdo dinâmico fornecido pelo extend da página utilizada no view em questão -->
    </main>
    {% include 'recipes/partials/footer.html' %} <!-- utilizado para incluir o rodapé da página no template global -->
</body>
</html>

