<footer class="main-footer">
    <div class="developer">
        <a href="" class=""> Daniel Quinan
        </a>
    </div>
    <div class="powered">
        <a href="" class=""> DMS </a>
    </div>
</footer>