<header class="main-header-container">
    <div class="main-header container">
        <h1>
            <a class="main-logo" href="/">
                <i class="fa-solid fa-utensils"></i>
                <span class="main-logo-text">Recipes</span>
            </a>
        </h1>
    </div>
</header>