<div class="recipe recipe-list-item">
    <div class=" recipe-list-cover">
        <div class="recipe-cover">
            <img src="{{ recipe.cover.url}}" alt="placeholder">
        </div>
        <div class="recipe-title-container">
            <h2 class="recipe-title">{{ recipe.title }}</h2>
        </div>
        <div class="recipe-author">
            <span class="recipe-author-item">
                <i class="fas fa-user"></i>
                {{ recipe.author.first_name }} {{ recipe.author.last_name }}
            </span>
            <span class="recipe-author-item>">
                <i class="fas fa-calendar-alt"></i>
                {{ recipe.created_at | date:'d/m/Y' }} às {{ recipe.created_at | date:'H:i' }}
            </span>
            <span class="recipe-author-item">
                <a href="/recipes/category/cafe-da-manha">
                    <i class="fas fa-layer-group"></i>
                    <span>{{ recipe.category.name }}</span>
                </a>
            </span>
        </div>
        <div class="recipe-content">
            <p>{{ recipe.description }}</p>
        </div>
        
        <div class="recipe-meta-container">
            <div class="recipe-meta recipe-preparation">
                <h3 class="recipe-meta-title">
                    <i class="fas fa-stopwatch"></i>
                    Preparo
                </h3>
                <div class="recipe-meta-text">
                    {{ recipe.preparation_time }} {{ recipe.preparation_time_unit}}
                </div>
            </div>
            <div class="recipe-meta recipe-servings">
                <h3 class="recipe-meta-title">
                    <i class="fas fa-pizza-slice"></i>
                    Porções
                </h3>
                <div class="recipe-meta-text">
                    {{ recipe.servings }} {{ recipe.serving_unit }}
                </div>
            </div>
        </div>


    </div>

    {% if is_detail_page is not True %} {% comment %} só aparece se for algo que não é True {% endcomment %}
    <footer class="recipe-footer">
        <a href="" class="recipe-read-more button button-dark button-full-width">
            <i class="fas fa-eye"></i>
            <span>ver mais...</span>
        </a>
    </footer>

    {% endif %}

    {% if is_detail_page is True %} {% comment %} só aparece se for true, logo, quando está na página de detalhes, aparece {% endcomment %}

    <div class="preparation-steps">
        {{ recipe.preparation_steps|linebreaksbr }}"
    </div>
    {% endif %}

</div>